  body{
    margin: 0;
    padding: 0;
  }

@font-face {
  font-family: Pat;
  src: url('./Fonts/Pat.ttf');
}

@font-face {
  font-family: PBold;
  src: url('./Fonts/Philosopher-Bold.ttf');
}

.title_section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 10px solid red;
  background-color: maroon;
  padding: 2px;
}


.title_header{
  display: flex;
  flex: 3;
  border: 8px solid blue;
  background-color: aqua;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
  align-items: flex-end;
  justify-content: center;
  background-image: url(./ImagesAndIcons/ChkLogo.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.title_text{
  border: 6px solid black;
  background-color: grey;
  text-align: center;
  font-family: Pat;
  font-size: 5vw;
}

.title_subheader{
  flex: 1;
  border: 6px solid darkgreen;
  background-color: rgb(144, 241, 144);
  margin:2px;
  padding:2px;
}

.title_footer{
  flex: 1;
  border: 8px solid blue;
  background-color: aqua;
  margin: 2px;
  padding: 2px;
}