/* ZERO OUT BODY */
body{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}


/* FONTS */
@font-face {
  font-family: Pat;
  src: url('./Fonts/Pat.ttf');
}

@font-face {
  font-family: PBold;
  src: url('./Fonts/Philosopher-Bold.ttf');
}


/* TITLE PAGE */

.title_section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 10px solid red; */
  
  padding: 2px;
}

.title_header{
  display: flex;
  flex: 2;
  /* border: 8px solid blue;
  background-color: aqua; */
  
  margin: 2px 25%;
  padding: 2px;
  align-items: flex-end;
  justify-content: center;
  background-image: url(./ImagesAndIcons/ChkLogo.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.title_text{
  /* border: 6px solid black;
  background-color: grey; */
  
  text-align: center;
  font-family: Pat;
  font-size: 5vw;
}

/* START BUTTON */
.title_start{
  /* flex: 1; */
  border: 6px solid rgb(144, 241, 144);
  background-color: rgb(198, 240, 198);
  border-radius: 25px;
  box-shadow: 5px 5px 5px 2px rgb(201, 243, 201), 10px 10px 5px grey;
  margin:20px;
  padding: 10px;
  text-align: center;
  min-width: fit-content;
  height: fit-content;
  align-self: center;
  cursor: pointer;
}
.title_subheader{
  /* flex: 1; */
  /* border: 6px solid darkgreen;
  background-color: rgb(144, 241, 144); */
  
  margin:2px;
  padding:2px;
  text-align: center;
}

.title_footer{
  /* flex: 1; */
  /* border: 8px solid blue;
  background-color: aqua; */
  
  margin: 2px;
  padding: 2px;
}

.footer_icons{
  display: flex;
  /* border: 4px solid khaki;
  background-color: honeydew; */
  
  margin: 2px;
  padding: 2px;
  justify-content: space-evenly;
}

.fb_icon{
  display: flex;
  /* border: 4px solid rgb(241, 37, 214);
  background-color: rgb(236, 176, 223); */
  
  margin: 2px;
  padding: 2px;
  background-image: url(./ImagesAndIcons/Social_Media_Icons/icons8-facebook-65.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
  width: 55px;
  cursor: pointer
}

.dscrd_icon{
  display: flex;
  /* border: 4px solid rgb(241, 37, 214);
  background-color: rgb(236, 176, 223); */
  
  margin: 2px;
  padding: 2px;
  background-image: url(./ImagesAndIcons/Social_Media_Icons/icons8-discord-65.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
  width: 55px;
  cursor: pointer
}

.gh_icon{
  display: flex;
  /* border: 4px solid rgb(241, 37, 214);
  background-color: rgb(236, 176, 223); */
  
  margin: 2px;
  padding: 2px;
  background-image: url(./ImagesAndIcons/Social_Media_Icons/icons8-github-65.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
  width: 55px;
  cursor: pointer
}

.in_icon{
  display: flex;
  /* border: 4px solid rgb(241, 37, 214);
  background-color: rgb(236, 176, 223); */
  
  margin: 2px;
  padding: 2px;
  background-image: url(./ImagesAndIcons/Social_Media_Icons/icons8-linkedin-65.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
  width: 55px;
  cursor: pointer
}

.yt_icon{
  display: flex;
  /* border: 4px solid rgb(241, 37, 214);
  background-color: rgb(236, 176, 223); */
  
  margin: 2px;
  padding: 2px;
  background-image: url(./ImagesAndIcons/Social_Media_Icons/icons8-youtube-65.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
  width: 55px;
  cursor: pointer;
}


/* OVERLAY */

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.form_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
  padding: 20px;
}