*{
  margin: 0;
  padding:0;
}



@font-face {
  font-family: Pat;
  src: url('./Fonts/Pat.ttf');
}

@font-face {
  font-family: PBold;
  src: url('./Fonts/Philosopher-Bold.ttf');
}

.title_section{
  border: 10px solid red;
  background-color: maroon;
  padding: 2px;
}


.title_header{
  border: 8px solid blue;
  background-color: aqua;
  margin: 2px;
  padding: 2px;
  font-family: Pat;
  font-size: 5vw;
  background-image: url(./ImagesAndIcons/ChkLogo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 250px;
  
}

.title_subheader{
  border: 6px solid darkgreen;
  background-color: rgb(144, 241, 144);
  margin:2px;
  padding:2px;
}

.title_footer{
  border: 8px solid blue;
  background-color: aqua;
  margin: 2px;
  padding: 2px;
}